@font-face {
  font-family: 'Comic Sans Mono';
  src: url('/assets/fonts/ComicMono.ttf');
}

@font-face {
  font-family: 'Comic Sans Mono Bold';
  src: url('/assets/fonts/ComicMono-Bold.ttf');
}

strong {
  font-family: 'Comic Sans Mono Bold', monospace;
}

.site-footer {
  li {
    padding: 5px 0;
    list-style-type: none;

    .u-github {
      background: url('/assets/img/github-mark.png') no-repeat left center;
      background-size: contain;
      padding-left: 25px;

      @media (prefers-color-scheme: dark) {
        background: url('/assets/img/github-mark-white.png') no-repeat left center;
        background-size: contain;
      }
    }

    .u-linkedin {
      background: url('/assets/img/InBug-Black.png') no-repeat left center;
      background-size: contain;
      padding-left: 25px;

      @media (prefers-color-scheme: dark) {
        background: url('/assets/img/InBug-White.png') no-repeat left center;
        background-size: contain;
      }
    }
  }

  ul.rhs li {
    text-align: right;
  }
}